{% extends 'common.html' %}
{% load static %}

{% block about_active %} 
active
{% endblock about_active %}

{% block body %}




  <!-- about section -->

  <section class="about_section layout_padding layout_margin" dir="rtl">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container" >
              <h2 >
                راهنما
              </h2>
            </div>
            <p style="text-align: right; font-size: 1.5vw;">
              
               اصل استفاده از جعبهٔ لایتنر همیشه یکسان است: کارتی که پاسخ آن را می‌دانید، به خانهٔ بعدی می‌رود و کارتی که پاسخش را نمی‌دانید به خانهٔ اول بازمی‌گردد حتی اگر در خانهٔ چهارم باشد.
            </p>
            <p style="text-align: right; font-size: 1.5vw;">
              جعبهٔ لایتنر جعبه‌ای است که ۵ خانه دارد که اندازهٔ هر یک از آن‌ها بر اساس منحنی فراموشی دو برابر قبلی‌ست، به صورتی که خانهٔ شمارهٔ یک، ۱ واحد، خانهٔ شمارهٔ دو، ۲ واحد، خانهٔ شمارهٔ سه، ۴ واحد، خانهٔ شمارهٔ چهار، ۸ واحد و خانهٔ شمارهٔ پنج، ۱۶واحد است.

هر خانهٔ اصلی با تعدادی «واسط» یا «جداکننده» به قسمت‌های کوچک‌تری تقسیم می‌شود. پس خانهٔ دوم، سوم، چهارم و پنجم، به ترتیب به دو، چهار، هشت و شانزده قسمت تقسیم شوند.

فلش‌کارت‌ها برگه‌های کوچکی‌اند که در یک طرف آن‌ها سؤال و در طرف دیگرشان جواب نوشته می‌شود.
            </p>
        
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static "images/about-img.png" %}" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->
  <section class="case_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static "images/pic.png" %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
              پیگیری مطالب آموخته شده
              </h5>
              <p>
                روز اول:
                در یک طرف کارت‌ها سؤال و در طرف دیگرشان جواب را می‌نویسیم.
                سؤال و جواب‌ها را تا زمانی که یادگرفته‌شوند باید مرور کرد.
                تمامی کارت‌ها را در خانهٔ اول قرار می‌دهیم.
                روز دوم:
                همهٔ سؤال‌های خانهٔ اول را یک‌به‌یک مرور کرده و پاسخ می‌دهیم.
                کارت سؤالی را که صحیح پاسخ گفتیم به خانهٔ فرعی قسمت دوم می‌رود.
                کارت سؤالی را که نادرست پاسخ داده‌شد به خانهٔ اصلی اول بازمی‌گردد.
                روز سوم:
                از خانهٔ دوم،قسمت اول شروع می‌کنیم. همهٔ کارت‌ها را بدون مرور یک قسمت جلو می‌بریم؛ زیرا زمان مرور آنها فرداست، نه امروز.
                در مورد خانهٔ اول مانند روز قبل عمل می‌کنیم.
                روز چهارم:
                از آخرین قسمت خانهٔ دوم شروع می‌کنیم: سوال‌های روی کارت‌ها را می‌خوانیم و اگر بلد بودیم کارت را به خانهٔ بعد منتقل می‌کنیم و اگر پاسخ را نمی‌دانستیم آن را از جعبهٔ لایتنر خارج می‌کنیم و از ابتدا پروسهٔ آن را طی خواهیم کرد.
                حال به سراغ قسمت قبلی رفته و همهٔ کارت‌ها را یک خانه بدون مرور به جلو می‌بریم.
                اکنون نوبت خانهٔ اول است. طبق معمول عمل می‌کنیم..
                در نهایت همهٔ کارت‌هایی را که در اثر فراموشی از جعبه خارج شده‌اند به جعبه بازمی‌گردانیم.           
              </p>
             
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static "images/imgg.jpg" %}" alt="" height="345px">
            </div>
            <div class="detail-box">
              <h5>
                تقسیم بندی جعبه
              </h5>
              <p> 
                در پاسخ به این سوال که چگونه زبان انگلیسی را مثل زبان مادری یاد بگیریم باید گفت که در قدم اول دایره لغات خود را افزایش دهید. برای این کار از سیستم لایتنر استفاده کنید. سیستم لایتنر بر اساس مجموعه‌ای از سه جعبه فلش کارت است(تا پنج جعبه هم قابل استفاده است). جعبه شماره ۱ جایی است که همه کارت‌ها به طور پیش فرض در آن قرار می‌گیرند.

سپس، هنگامی که شروع به بررسی فلش‌کارت‌ها کردید، بسته به اینکه آیا قادر به پاسخگویی به اطلاعات نوشته شده روی کارت بوده‌اید یا خیر، شروع به تغییر مکان آن‌ها خواهید کرد. مرتب کردن مجدد کارت‌ها جایی است که قدرت روش واقعاً خود را نشان می‌دهد. بسته به عملکرد یادگیرنده، سیستم، توانایی افزایش یا کاهش فواصل یک کارت خاص را دارد. این ویژگی تضمین می‌کند که سخت‌ترین کارت‌ها بیشتر مطالعه می‌شوند در حالی که کارت‌هایی که برای شما راحت‌تر هستند، کمتر مورد مطالعه قرار می‌گیرند.
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}