{% extends 'common.html' %}
{% load static %}

{% block about_active %} 
active
{% endblock about_active %}


{% block style %}
.responsive-text {
  text-align: right !important;
  font-size: 1.5vw !important;
}

@media only screen and (max-width: 600px) {
  .responsive-text {
      font-size: 3.5vw !important;
  }
}  
{% endblock style %}
  

{% block body %}

  <!-- about section -->
{% for i in GuideText_db %}
  <section class="about_section layout_padding layout_margin" dir="rtl">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container" >  
              <h2>
                {{ i.main_topic }}
              </h2>
              </div>
              <br>
              <p style="text-align: right;">
                {{ i.guide_text }}
              </p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static "images/about-img.png" %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}  

  <!-- end about section -->
{% for i in GuideInfo_db %}    
  <section class="case_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{{ i.left_pic.url }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                {{ i.left_title }}
              </h5>
              <p>
                {{ i.left_text }}       
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{{ i.right_pic.url }}" alt="" height="345px">
            </div>
            <div class="detail-box">
              <h5>
                {{ i.right_title }}
              </h5>
              <p>
                {{ i.right_text }}
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}  

{% endblock body %}