{% extends 'common.html' %}
{% load static %}


{% block style %}
{% comment %} slider section {% endcomment %}
.slider_section .detail-box {
  text-align: center;
  color: #7335b7;
}

.slider_section .carousel-indicators li {
  background-color: #7335b7;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 1;
}
{% endblock style %}


{% block index_active %} 
active
{% endblock index_active %}


{% block body %}
    <!-- slider section -->
{% for i in FirstPageText_db %}    
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <img src="{% static "images/slider-img.png" %}" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                    <h1>
                      {{ i.big_title_1 }}
                    </h1>
                    <p>
                      {{ i.small_title_1 }}
                    </p>                    
                  <div class="btn-box">
                    <a href="{% url 'Play_App:game' %}" class="btn1">
                      شروع بازی
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <img src="{% static "images/contact-img.png" %}" alt="" height="533px">
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                    <h1>
                      {{ i.big_title_2 }}
                    </h1>
                    <p>
                      {{ i.small_title_2 }}
                    </p>
                  <div class="btn-box">
                    <a href="{% url 'Play_App:game' %}" class="btn1">
                      شروع بازی
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="img-box">
                  <img src="{% static "images/ss.png" %}" alt="" height="533px">
                </div>
              </div>
              <div class="col-md-6">
                <div class="detail-box">
                      <h1>
                        {{ i.big_title_3 }}
                      </h1>
                      <p>
                        {{ i.small_title_3 }}
                      </p>
                  <div class="btn-box">
                    <a href="{% url 'Play_App:game' %}" class="btn1">
                      شروع بازی
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>

  </section>
{% endfor %}    
    <!-- end slider section -->
  </div>

  <!-- service section -->
{% for i in BenfitText_db %}
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2 style="color: {{ i.main_topic_color }};">    
          {{ i.main_topic }}              
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{% static "images/s1.png" %}" alt="">
            </div>
            <div class="detail-box">
                <h5>
                  {{ i.topic_1 }}
                </h5>
                <p>
                  {{ i.info_1 }}
                </br></br>
                </p>              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{% static "images/s2.png" %}" alt="">
            </div>
            <div class="detail-box">
                <h5>
                  {{ i.topic_2 }}
                </h5>
                <p>
                  {{ i.info_2 }}
                </br></br>
                </p>              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{% static "images/s3.png" %}" alt="">
            </div>
            <div class="detail-box">
                <h5>
                  {{ i.topic_3 }}
                </h5>
                <p>
                  {{ i.info_3 }}
                </br></br>
                </p>              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{% static "images/s4.png" %}" alt="">
            </div>
            <div class="detail-box">
                <h5>
                  {{ i.topic_4 }}
                </h5>
                <p>
                  {{ i.info_4 }}
                </br></br>
                </p>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endfor %}  
  <!-- end service section -->

  <!-- about section -->

{% for i in GuideText_db %}
  <section class="about_section layout_padding" dir="rtl">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="detail-box">
                      <div class="heading_container">
                          <h2>
                              {{ i.main_topic }}
                          </h2>
                      </div>
                      <p style="text-align: right;">
                          {{ i.guide_text }}
                      </p>
                      <a href="{% url 'Home_App:about' %}" style="float: right;">
                          نمایش بیشتر
                      </a>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="img-box">
                      <img src="{% static 'images/about-img.png' %}" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>
{% endfor %}
   


  <!-- end about section -->

  <!-- case section -->
{% for i in LearningEnglishText_db %}
  <section class="case_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2 style="color: {{ i.main_topic_color }};">
          {{ i.main_topic }}
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static "images/slider-bg.jpg" %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                {{ i.left_big_title }}
              </h5>
              <p>
                {{ i.left_small_title }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static "images/image-2.png" %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                {{ i.right_big_title }}
              </h5>
              <p>
                {{ i.left_small_title }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
  <!-- end case section -->

{% endblock body %}